$dark-darkest: #2E2E2E;
$dark-dark: #3D3D3D;
$dark-medium: #656565;
$dark-light: #D2D2D2;
$dark-lightest: #FFFFFF;

$light-lightest: #FFFFFF;
$light-light:#D9D9D9;
$light-medium: #949494;
$light-dark: #474747;

$primary: #A9FF81;
$secondary: #FFCC81;
$error: #FF8881;